html, body {
 	margin: 0;
 	padding: 0;
  	width: 100%;
  	height: 100%;
}


:root {
	--colorBackground: #3c8b8d;
	--colorBackgroundDark: #067070;

  	--colorMain: #791551; 
	/* --colorShadow: #da872f;  */

	--colorText: #2F2E2E;
	--colorButton: #b6e8e3;
	--colorButtonHover: #417586;
}

@font-face {
  font-family: 'dancing-script-regular';
  src: url('../FONT/DancingScript-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'goudy-old-style-bold';
  src: url('../FONT/GoudyOldStyleBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon-Grotesque-light';
  src: url('../FONT/Brandon_Grotesque_light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




body {
	margin: 0px;
	background-color: var(--colorBackground);
	/* overflow-x: hidden; */
	/* font-family: BBH, sans-serif; */
}

body.fade-in {
  	opacity: 0;                  /* start invisible */
}






h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

p, a {
	text-align: justify;
	margin: 0;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

section {
 	width: 100%;
	min-height: 100vh;

	background: linear-gradient(var(--angleGradient),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundAccentOpacity),
		var(--colorBackgroundOpacity),
		var(--colorBackgroundOpacity)
	);
	backdrop-filter: blur(5px);
}






button {
	color: var(--colorMain);
	background-color: var(--colorButton);
	border: 0px solid var(--colorMain);
	font-family: sans-serif;
	font-size: 1.3vw;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 30px;
	transition: 0.2s;
}


button:hover {
	color: white;
  	background-color: var(--colorButtonHover);

}

button:hover p {
	
	color: transparent;
}





/* ------------------------------------- */




/* BANNER */

#banner {
	background-image: url(../IMG/banner.avif);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: 100%;
	height: 70%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#title {
	color: var(--colorMain);
	text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;

	font-family: dancing-script-regular;
	text-align: center;
	font-size: 8vw;
}

#titleDesc {
	color: var(--colorText);
	text-shadow: #ffffff 0px 0px 6px;

	font-family: goudy-old-style-bold;
	text-align: center;
	font-size: 2vw;
}

a {
	color: var(--colorMain);
}

/* ---------------------------------------------------------------------- */

#underBanner {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 5vh 0;
}

#underBanner img {
	object-fit: none;
}




#navBar2 {
	display: flex;
	flex-direction: column;
}

#currentButton {
	color: white;
  	background-color: var(--colorButtonHover);
}



/* ---------------------------------------------------------------------- */


#typesDeSoins {
	background-color: var(--colorButton);
	font-family: Brandon-Grotesque-light;
	font-size: x-large;
	color: var(--colorMain);
	height: auto;
	padding: 5vh 0;
}

#topRow {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-bottom: 5vh;
}

#bottomRow {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}




.capsule {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	min-height: 80vh;
	width: 30vw;
	background-color: #80d3fa52;
	border-radius: 15%;
	padding: 3vh 0;
}

.capsule h2 {
	font-family: Brandon-Grotesque-light;
	text-align: center;
	font-weight: bold;
}

.capsule div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.capsule div p {
	color: var(--colorMain);
	text-align: center;
}

.capsule img {
	height: 30vh;
	width: 30vh;
	border-radius: 100%;
	margin: 2vh 0;
}

.capsule p {
	color: var(--colorText);
	font-weight: bold;
	text-align: center;
	font-size: x-large;
	margin-bottom: 2vh;
	text-align: justify;
	width: 20vw;
}

.capsule button {
	color: #ffffff;
	background-color: var(--colorMain);
	border: 0px solid var(--colorMain);
	font-family: sans-serif;
	font-size: large;
  	padding: 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 30px;
	transition: 0.2s;
}

.capsule button:hover {
	color: var(--colorText);
	background-color: #ffffff;
}








































































/* - FOOTER - */

footer {
	background: var(--colorBackground);
	padding: 5vh 7vw 0 6vw;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 30vh;
}

#footerRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30vw;
}


.linkColumn {
	display: flex;
	flex-direction: column;
	margin-right: 3vw
}

.linkColumn h2 {
	font-family: Brandon-Grotesque-light;
	color: #ffffff;
}

.linkColumn img {
	/* display: flex;
	align-content: space-evenly; */
	border-radius: 100%;
	height: 10vh;
}




#madeBy {
 	display: flex;
  	justify-content: center;
	padding-bottom: 1vh;
	margin: 0px;
	font-size: 0.7em;
	font-family: Brandon-Grotesque-light;
	text-align: center;
	color: #ffffff;
}












/* ------------------------------------------------------------ */



/* Desktop */
@media (max-width: 1440px) {

}




/* Tablet vertical */
@media (max-width: 865px) {
	

	



	/* - FOOTER - */
	footer h2 {
		font-size: 4vw;
	}

	footer .links {
		font-size: 2.5vw;
	}






}


/* ------------------------------------------------------------ */




